.container{
    max-width: 1024px;
    margin: 0 auto;
    background-color: #faf7f7;
}
.course{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.course-items{
    width: 30%;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 24px;
}

.course-items-p{
    display: flex;
}

.blue{
    color: blue;
}
.course-items .btn-hot{
    line-height: 1.2em;
    border: 1px solid #681b1b;
    align-self: flex-start;
    padding: 0 1.5em;
    border-radius: 200px;
    margin-top: auto;
    white-space:nowrap;
}
 
.btn{
    line-height: 1.2em;
    border: 1px solid #ccc;
    align-self: flex-start;
    padding: 0 1.5em;
    border-radius: 200px;
    margin-top: auto;
    white-space:nowrap; 
} 

.btn a{

    color: #ccc;
} 
.btn a:hover{
    color: #2a2929;
} 

.ft-1{
    font-size: 1.5rem;
}
.blue{
    color: blue;
}

.btn-hot{
    background-color: blue;
    border-style:none !important;
    padding:  3px !important;  
    position: absolute;
    font-size: 14px;
    left: 250px;
}
/*************************************************/
.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.pos-r{
    position: relative;
}
.pos-a{
    position: absolute;
}
.white{
   color: white ;
}

/************************************************/
@media (max-width:992px){
    .course-items{
        width: 48%;
    }
}

@media(max-width:776px){
    .course-items{
        width: 100%;
    }
    .course-items .btn{
        margin-top: 20px;
    }
}
