
.wrap{
    max-width: 1920px;
    margin: 0 auto;
    line-height: 1.5;
}
.wrap-test{
  display: flex;
  justify-content: space-between;
  
}

.header-pic{
  max-width: 1920px;
  height: 30vh;
  background: 
  linear-gradient(135deg, #ccc 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #eee 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #ccc 25%, transparent 25%),
  linear-gradient(45deg, #eee 25%, transparent 25%);	
  margin-top: 20px;
}
.header-txt{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#1f9b80cc;
  margin-top: -15%;
}
.header-txt h1{
  font-size: 48px;
  font-weight: 700;
}
.header-txt h2{
  font-size: 36px;
  font-weight: 500;
}
.header-txt p{
  font-size: 48px;
  font-weight: 700;
}

/* @media(max-width:992px) {
  .header-txt{
  margin-top: 20px;
}
.header-txt p{
  font-size: 36px;
  font-weight: 700;
}
} */

.navbar{
    max-width: 1920px;

    display: flex;
    justify-content: space-between;
}

nav{
    font-weight: bold;
}
nav .navbar-course{
    display: flex;
    justify-content: center;
}

nav .navbar-course a{
    display: block;
    padding: 15px;
    margin: 5px;
    color: #000;
    text-decoration: none;
    font-size: 24px;

}
nav .navbar-course a:hover{
    color: blue;
}

.navbar-course ul{
  display: none;
}
.navbar-course>li:hover ul{
			display: block;
	}

#menu_control{
  display: none;
}

.menuBtn{
  cursor: pointer;
  position:relative;
  width: 48px;
  height: 48px;
  top:22px;
  right:20px;
  display: none;
}

.menuBtn::before{
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 36px;
  box-shadow: 0px 12px 0px black, 0px -12px 0px black;
  right: 0;
}

/* @media (max-width: 992px) {
  .menuBtn{
  display: block;
  top:-40px;
  right:-400px;
  }
 .navbar-course{
  width: 100%;
  background: #fff;
  text-align: center;
  }
  .navbar-course>li{
      border-bottom: 1px solid #efefef;
  }
  .navbar-course li{
    text-align: center;
  border-bottom: 1px solid #efefef;

  }
  .navbar-course li a{

  line-height: 50px;
  font-size: 18px;
  color: #5d5d5d;
  }
  .navbar-course li a:hover{
  background: #5d5d5d;
  color: #fff;
  }
  .navbar-course{
  max-height: 0;
  overflow: hidden;
  transition: 0.2s;
  }

  input:checked ~ .navbar-course{
    max-height: 500px;
  } 
} */



.search{
    display: flex;
    margin-top: 10%;
    margin-left: 15%;
    width: 20%;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 30px;
}
.input-none{
border:none;
padding: 2%;
outline: none;
font-size: 20px;
opacity: 0.5;
}


@media(max-width:992px){

}
.banner{
  max-width: 1280px;
  margin-top: 30px;
}
.banner .Silicone h2{

  font-weight: 700;
}
.banner .Silicone h3{

  font-weight:  700;
}


.banner .Screw h2{

  font-weight: 700;
}
.banner .Screw h3{

  font-weight:  700;
}

.table-Screw{
  margin: 0 auto;
  border: 1px solid #000;

}
.table-Screw th{
  padding: 20px;
  font-size: 28px;
  font-weight: 700;
   border: 1px solid #000;
}
.table-Screw td{
border: 1px solid #000;
text-align: center;
font-size: 24px;
font-weight: 500;
padding: 20px;
}
.Screw h4{
  margin-left:15%;
}
/* 奇數行背景顏色，偶數行白色 */
.table-Screw tr:nth-child(odd) {
  background-color: lightgray;
}

.table-Screw tr:nth-child(even) {
  background-color: white;
}

/* 鼠标悬停时，单元格背景颜色改变 */
.table-Screw td:hover {
  background-color: #f0f0f0;
}



.banner .Paints h2{

  font-weight: 700;
}
.banner .Paints h3{

  font-weight:  700;
}

.Paints-course{
  list-style-type: decimal;
  margin-left: 5%;
}
/*******************************************/
.red{
  color: red;
}
.mt-1{
  margin-top: 10px;
}
.mt-2{
  margin-top: 20px;
}
.mt-3{
  margin-top: 30px;
}
.mt-4{
  margin-top: 40px;
}
.mt-5{
  margin-top: 50px;
}
.fs-1{
  font-size: 12px;
}
.fs-2{
  font-size: 24px;
}
.fs-3{
  font-size: 36px;
}
.fs-4{
  font-size: 48px;
}
.fs-5{
  font-size: 60px;
}
.fw-1{
  font-weight: 100;
}
.fw-2{
  font-weight: 200;
}
.fw-3{
  font-weight: 300;
}
.fw-4{
  font-weight: 400;
}
.fw-5{
  font-weight: 500;
}
.fw-6{
  font-weight: 600;
}
.fw-7{
  font-weight: 700;
}
.fw-8{
  font-weight: 800;
}
.fw-9{
  font-weight: 900;
}
.d-block{
  display: block;
}
.bg-gray{
  background-color: lightgray;
  color: white;
  padding: 1%;
}
.pink-gradient{
  color: #d0006f;
}

.border-line{
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
}

@media  (max-width: 1024px){
      .logo{
        display: none;
      }
      .menuBtn{
  display: block;
        right: 0px;
  }
 .navbar-course{
  width: 100%;
  background: #fff;
  text-align: center;
  }

  .navbar-course > li{
    text-align: center;
  border-bottom: 1px solid #efefef;

  }
  .navbar-course li a{

  line-height: 50px;
  font-size: 18px;
  color: #5d5d5d;
  }
  .navbar-course li a:hover{
  background: #5d5d5d;
  color: #fff;
  }
  .navbar-course{
  max-height: 0;
  overflow: hidden;
  transition: 0.2s;
  }

  input:checked ~ .navbar-course{
    max-height: 500px;
  } 

  .header-pic{
    display: none;
  }
  .navbar-course ul{
  display: block;
}
.header-txt{

  margin-top: 2%;
}
  .wrap-test{
  flex-direction: column;
   
}
.wrap-test .navbar ul{
  display: flex;
  flex-direction: column;
   overflow: auto; /* 或 scroll */
}


table {
  width: 100%; /* 表格宽度占容器的 100% */
  border-collapse: collapse; /* 消除表格边框之间的间隙 */
    cursor: grab;
}
table:active{
cursor:grabbing;
}
th, td {
  border: 1px solid black; /* 单元格边框 */
  padding: 8px;
}
.screw-container{
  width: 100%; /* 设置容器宽度，可以根据需要调整 */
  overflow: auto; /* 或 scroll */
}
  .banner{
    margin: 10px;
  }
  nav{
    font-weight: bold;
    margin-right: 10%;
}

nav .navbar-course a{
    font-size: 18px;
    
}
nav .navbar-course{
    flex-direction: column;
    justify-content: start;
}
.navbar{
  flex-direction: column;
}

.search{
    margin-left: 2%;
    width: 90%;
}
.bi-search{
  margin-top: 10px;
}
.header-txt{
  margin-top: 10%;
}
.header-txt h1{
  font-size: 28px;

}
.header-txt h2{
  font-size: 24px;

}
.header-txt p{
  font-size: 28px;

}
}

/***********************************************************************/
.footer-news{
  max-width: 1920px;
}
.footer-course{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-course li{
  width: 30%;
  margin-bottom: 2%;
}
.footer-txt{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-txt a{
  display: inline;
}


.footer-txt-2 a:hover{
  color: blue;
}
.footer-txt a{
  margin-top: 10px;
  font-size: 18px;
  width: 33%;
  text-decoration: none;
  color: #000;
}
.footer-txt a:hover{
  color: blue;
}
.footer-p-purple{
  width: 100%;
  border-top: 1px solid #1d2087;
  border-bottom: 1px solid #1d2087;
  margin-top: 2%;
  font-size: 20px;
  font-weight: 600;
  padding: 2%;
  color: #1d2087;
}

.border-left{
  position: relative;
  padding-left: 14px;
}
.border-left::before{
  position: absolute;
  top:50%;
  transform: translatey(-40%);
  right:-40px;
  content: '';
  width: 2px;
  top:8px;
  height: 18px;
  background-color: gray;
}
.border-left-2{
  position: relative;
  padding-left: 14px;
}
.border-left-2::before{
  position: absolute;
  top:50%;
  transform: translatey(-40%);
  right:-5px;
  content: '';
  width: 1px;
  top:8px;
  height: 18px;
  background-color: gray;
}

.footer-txt-2 a{
  margin-top: 10px;
  font-size: 18px;
  width: 50%;
  text-decoration: none;
  color: #000;
}

.border-left-2{
  position: relative;
  padding-left: 14px;
}
.border-left-2::before{
  position: absolute;
  top:50%;
  transform: translatey(-40%);
  right:-5px;
  content: '';
  width: 1px;
  top:8px;
  height: 18px;
  background-color: gray;
}
@media(max-width:992px) {
  .footer-course{
    flex-direction: column;
  }
  .footer-course li{
  width: 100%;
  margin-bottom: 2%;
  padding: 1%;
}
}
/*********************************************************************/

.border-black{
  border-bottom: 2px solid #000;
}