.wrap{
    max-width: 1920px;
    margin: 0 auto;
    background-color: #FBFBFB;
    line-height: 1.5;
}
.navbar{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    padding: 1%;
}
.navbar a{
    display: block;
    margin-left: 1%;
    text-decoration: none;
    color: #000;
}
.navbar a:hover{
    color: #2bbd7e;
    border-bottom: 2px solid #185e4a;
}

.header-pic{
   display: flex;
   align-items: center;
    
}

.header-pic{
    background-image: url(/images/Hero\ Section2.png);
}

.header-txt{
    margin-left: 5%;
}
.header-txt h2{
    color: #0027D5;
    font-size: 120px;
    font-weight: 900;
    
}
.header-txt p{
    font-size: 28px;
    font-weight: 700;
} 
.header-pic-btn{
    color: #4b4b4b;
    border: 1px solid #ccc;
    align-self: flex-start;
    padding: 0 1.5em;
    border-radius: 200px;
    margin-top: 20px;
}
.header-pic-btn:hover{
   background-color: #4b4b4b;
   color: #FBFBFB;
}
@media(max-width:996px) {
    .header-pic{
    display: flex;
    flex-direction: column;
}
.header-pic img{
    width: 100%;
}
.header-pic-btn{
    margin-bottom: 20px;
}
.header-pic-2 img{
    width: 100%;
}

}





/**********************************************/

.container{
    display: flex;
    width:75%;
    margin: 0 auto;
}
.course{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.course-items{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.course-btn{
    color: #000;
    border: 1px solid #ccc;
    align-self: flex-start;
    padding: 0 1.5em;
    border-radius: 200px;
    margin-top: auto;
}
.course-btn:hover{
    color: gray;
}
.course-items h3{
    font-size: 24px;
    font-weight: 500;
}
.course-items h2{
    font-size: 28px;
    font-weight: 700;
}
.course-items-p{
    display: flex;
}
.course-btn-hot a{
    display: flex;
    color: #FBFBFB;
   padding: 5px;
   border-radius: 100px;
   background-color: blue;
    margin-left: 10px;
    margin-top: 10px;
}
.course-2{
    display: flex;
}
.course-2 .course-items{
    margin-right: 70px;
    width: 30%;
}

.course-footer{
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 14px;
    margin: 0 auto;
}

.course-footer a{
    display: inline-block;
    border:  1px solid #ccc;
    background-color: #f7f7f7;
    text-decoration: none;
    line-height: 36px;
    color: #333;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width:996px){
    .course-items{
        width: 100%;
}
    .course-2{
    display: flex;
    flex-direction: column;
    }
.course-2 .course-items{
    width: 100%;
}
}


.header-pic-2{
    display: flex;
}

.header-txt-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 2%;
}
.header-new{
    display: flex;
    align-items: center; 
}

.header-new p{
    font-size: 24px;
}
.header-new a{
   color: white;
   padding: 5px;
   border-radius: 100px;
   background-color: blue;
   margin-left: 10px;
}
.btn{
    border: 1px solid gray;
   color: gray;
   padding: 1%;
   border-radius: 100px;
   margin-left: 10px;
   text-decoration: none;
}
.btn a:hover{
    background-color: gray;
    color: #FBFBFB;
}

.search{
    margin-top: 3%;
    margin-left: 15%;
    width: 20%;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 30px;
}
.input-none{
border:none;
}
.input-none{
    outline: none;
}
@media(max-width:996px){
    .header-pic-2 {
    display: flex;
    flex-direction: column;
}

.header-txt-2{
    margin-top: 5%;
    width: 100%;
}
.header-txt-2{
    margin-left: 0%;
    padding: 2%;
}
}

@media(max-width:996px){
    .search{
     width: 90%;
    margin-top:2%;
    margin: 0 auto;
}

} 



.footer-items{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #FBFBFB;
    padding: 3%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.footer-course p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.footer-items p{
    font-size: 32px;
    font-weight: 500;
}


@media(max-width:996px){
    .footer-items{
        border-top: hidden;
    }
    .footer-items p{
            display: none;
        }
    .footer-items-icon{
            display: none;
        }
    .footer-end{
        padding: 5%;
    }
    }

/***********************************************************/
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.pos-r{
    position: relative;
}
.mt-2{
    margin-top: 20px;
}
.my-1{
    margin-left: 10px;
}

.fs-2{
    font-size: 16px;
}
.mb-1{
    margin-top: 10px;
}
.mb-2{
    margin-bottom: 20px;
}

.blue{
    color: blue;
}