.wrap{
    max-width: 1920px;
    margin: 0 auto;
    background-color: #FBFBFB;
    line-height: 1.5;
}
.navbar{
    display: flex;
    width: 100%; 
    justify-content: center;
    font-weight: bold;
    font-size: 28px;

}
.navbar a{
    display: block;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}
.navbar a:hover{
    color: #2bbd7e;
    border-bottom: 2px solid #185e4a;
}

/*************header(開始)*****************/
.header-items{

    display: flex;
    justify-content: center;
    align-items: center;
}
.header-pic{
    width: 50%;
}
.header-pic img{
    width: 100%;
}
.header-txt{
    width: 50%;
    padding: 3%;
}
.header-new{
    display: flex;
    align-items: center; 
}

.header-new p{
    font-size: 24px;
}
.header-new a{
   color: white;
   padding: 5px;
   border-radius: 100px;
   background-color: blue;
   margin-left: 10px;
}
.header-txt p{
    font-size: 28px;
    font-weight: 700;
}

.blue{
   color: blue;
}
@media(max-width:996px){
    .header-items{
        flex-direction: column;
    }
    .header-pic{
    width: 100%;
}

.header-txt{
    width: 100%;
    padding: 3%;

}
}
/*************header(結束)*****************/


.article-conrainer{
    max-width: 636px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2%;
}

.article-conrainer ul{
    list-style-type:decimal;
    margin-left: 5%;
}
.article-conrainer h2{
    font-size: 28px;
    font-weight: 700;
   color: blue;
}
.article-conrainer h3{
    font-size: 20px;
    font-weight: 700;
}
.article-conrainer p{
    font-size: 16px;
    font-weight: 500;
}
.article-pic{
    margin-top: 20px;
}
.article-pic img{
    width: 100%;
}
.article-border{
    width: 100%;
    background-color: #EDE0ED;
    text-align: center;
    border-radius: 24px;
    padding: 26px;
   
}
.article-border p{
     font-size: 16px;
}
.article-conrainer ol{
    list-style-type:disc;
    margin-left: 5%;

}


.article-footer-items{

    border-radius: 100px;
    padding:15px;
}
.article-footer{
    justify-content:space-between;
}
.article-footer a{
    background-color: gray;
    color: white;
}
.article-footer a:hover{
    background-color: rgb(206, 202, 202);
    color: rgb(155, 151, 151);
}


/*********************************************/

.footer-items{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #FBFBFB;
    padding: 3%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.footer-items p{
    font-size: 32px;
    font-weight: 500;
}


.footer-end{
    background-color: white;
    font-size: 16px;
    font-weight: 500;
}
@media(max-width:996px){
    .footer-items{
        border-top: hidden;
    }
    .footer-items p{
            display: none;
        }
    .footer-items-icon{
            display: none;
        }
    .footer-end{
        padding: 5%;
    }
    }


/*************************************************/
.fs-1{
    font-size: 12px;
}
.fs-2{
    font-size: 24px;
}
.fs-3{
    font-size: 36px;
}
.d-block{
    display: block;
}
.d-flex{
    display: flex;
}

.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.mt-100{
    margin-top: 100px;
}
.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.pos-r{
    position: relative;
}
.pos-a{
    position: absolute;
}
.bg-white{
    background-color:#fff 
}
.bg-blue{
    background-color: blue;
}
.w-100{
    width: 100%;
}
.w-75{
    width: 75%;
}
.w-50{
    width: 50%;
}
.w-30{
    width: 30%;
}
.w-25{
    width: 25%;
}
.my-1{
    margin-left: 100px;
}
.tx-center{
    text-align: center;
}
.tx-end{
    text-align: end;
}
.p-1{
    padding: 1%;
}
.p-2{
    padding: 2%;
}

/************************************************/